<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<title>House Serching System</title>
	<meta charset="utf-8">
<!---	<meta name="author" content="pixelhint.com">
	<meta name="description" content="La casa free real state fully responsive html5/css3 home page website template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
--->
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
<!-- 	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
	
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
			<section class="caption">
				<h2 class="caption">My Search</h2>
			</section>

	<br></br>
<!--	<div class="chkList">
		<form action="/blog/post_list1/" method="get" accept-charset="utf-8" enctype=text/plain>
		{% csrf_token %}
			<div>
				<label>專案內容: </label>
				<input type="text" name="cont">
				<br></br>
				<label>標題: </label>
				<input type="text" name="title">
				<br></br>
				<label>機種: </label>
				<input type="text" name="name">
				<br></br>
				<label>日期: </label>
				<input type="text" name="time">
				<br></br>
				<label>上傳檔案: </label>
				<input type="text" name="file">
				<br></br>
				<label>上傳: </label>
				<input type="checkbox" name="info1" value="24" id="disgust">
				<label for="disgust">檔案</label>
				<input type="checkbox" name="info2" value="25" id="disgust">
				<label for="disgust">圖檔</label>
			</div>
				<p></p>
				<input type="submit" value="傳送出去">
				<input type="reset" value="重新填寫">
			<br></br>
		</form>
	</div>  -->
		<form action="/blog/post_list1/" method="post" role="form" accept-charset="utf-8" enctype=text/plain>
		{% csrf_token %}
			{{form.as_p}}
			<button type="submit" name="post_list1">建立</button>
			<input type="reset" value="重新填寫">
		</form>
		<div>
			{%for post in posts%}
			<p>標題:{{post.title}}</p>
			<p>機種:{{post.model_name}}</p>
			<p>專案內容:{{post.content}}</p>
			{%endfor%}
		</div>
</body>
</html>