<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<title>House Serching System</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
<!-- 	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
	
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
				<section class="caption">
				<h2 class="caption">My Search</h2>
			</section>
	</section><!--	end hero section  -->
	<br></br>
	<div class="ch">
		<form action="/blog/post_list1/" method="post" accept-charset="utf-8" enctype=text/plain>
		{% csrf_token %}
			<table>
				{{form.as_table}}
			</table>
			<input type="submit" value="送出">
			<input type="reset" value="重新填寫">
		</form>
	</div>
	


</body>
</html>