body{
	text-transform:capitalize;
	font:normal 120% tahoma,Verdana,Arial;
	background:#ccc;
}
form{
	background:#fff;
	margin:25px;
	padding:15px;
	width:218px;
	border:1px solid #bbb;
	left:20px;
}
fieldset div{
	margin:8px 0px;
	left:20px;
}
input{
	border-radius:3px;
}
p{
	   font:normal 10px tahoma;
	   color:maroon;
	   
	   
}
#output{
	resize:none;
}