<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Complex icons</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 90%;
		width:50%
		margin:50,50
      }
    </style>
	<link href='https://fonts.googleapis.com/css?family=Pacifico:400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
<!-- 	<div id="floating-panel">
      <input id="address" type="textbox" value="Taipei">
      <input id="submit" type="button" value="Geocode">
    </div> -->
    <div id="map"></div>

	<script>
function initMap() {
	geocoder = new google.maps.Geocoder();
	map = new google.maps.Map(document.getElementById('map'), {
//		zoom: 12,
//		center: {lat: 25.0548897, lng: 121.6198273}
	});
	geocodeAddress(geocoder, map);
	/*	document.getElementById('submit').addEventListener('click', function() {
	geocodeAddress(geocoder, map);
	});
*/
	
}

function distance(lat , lng , ol, og) {
	var D= Math.sqrt(((lat-ol)*(lat-ol) + (lng-og)*(lng-og)))*111.1*1000;
	return D
	};
	
function geocodeAddress(geocoder, resultsMap) {
	var address = '{{address}}';
	geocoder.geocode({'address': address}, function(results, status) {
	if (status === google.maps.GeocoderStatus.OK) {
	try{
		resultsMap.setCenter(results[0].geometry.location);
		resultsMap.setZoom(16);
	}
	catch(err){};
		var addlat = results[0].geometry.location.lat();
		var addlng = results[0].geometry.location.lng();
		setMarkers(resultsMap, addlat, addlng)
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

function setMarkers(map, lat, lng) {

	var image = {
		url: "{% static 'dgt9.gif' %}",
    // This marker is 20 pixels wide by 32 pixels high.
		size: new google.maps.Size(50, 80),
    // The origin for this image is (0, 0).
		origin: new google.maps.Point(0, 0),
    // The anchor for this image is the base of the flagpole at (0, 32).
		anchor: new google.maps.Point(0, 60)
	};
  // Shapes define the clickable region of the icon. The type defines an HTML
  // <area> element 'poly' which traces out a polygon as a series of X,Y points.
  // The final coordinate closes the poly by connecting to the first coordinate.
	var shape = {
		coords: [1, 1, 1, 20, 18, 20, 18, 1],
		type: 'poly'
	};

	
	var marker = new google.maps.Marker({
		position: {lat: lat, lng: lng},
		map: map,
		icon: image,
		shape: shape,
	});
	var i=0

	{% for post in post11 %}
		
		var D = distance(lat , lng , {{post.lat}}, {{post.lng}});
		if (D <= {{dist}})
		{
		i=i+1
		var image = {
			url: "{% static 'foot.gif' %}",
		// This marker is 20 pixels wide by 32 pixels high.
			size: new google.maps.Size(50, 80),
		// The origin for this image is (0, 0).
			origin: new google.maps.Point(0, 0),
		// The anchor for this image is the base of the flagpole at (0, 32).
			anchor: new google.maps.Point(0, 60)
		};
	  // Shapes define the clickable region of the icon. The type defines an HTML
	  // <area> element 'poly' which traces out a polygon as a series of X,Y points.
	  // The final coordinate closes the poly by connecting to the first coordinate.
		var shape = {
			coords: [1, 1, 1, 20, 18, 20, 18, 1],
			type: 'poly'
		};
		var marker = new google.maps.Marker({
			position: {lat: {{post.lat}}, lng: {{post.lng}}},
			map: map,
			icon: image,
			shape: shape,
		});
		
		var d = document.createElement("div");
		var form = document.getElementById('form');
		
		//設定這個input的屬性
		var new_element = document.createElement("input");
		new_element.type = "checkbox";
		new_element.name = "object";
		new_element.value = ["{{post.oid}}","{{post.top1}}","{{post.top2}}","{{post.top3}}"];
		var txt = document.createTextNode('\n物件'+i);
		new_element.appendChild(txt);
		form.appendChild(new_element);
		
		var para = document.createElement("h2");
		var txt = document.createTextNode('物件'+i);
		para.appendChild(txt);
		d.appendChild(para);

		var para = document.createElement("h2");
		var txt = document.createTextNode('說明:{{post.tit}}');
		para.appendChild(txt);
		d.appendChild(para);
		
		var para = document.createElement("a");
		para.href='{{post.url}}'
		var txt = document.createTextNode('網址:{{post.url}}');
		para.appendChild(txt);
		d.appendChild(para);
		
//		<a href="連結網址">說明文字</a>
		var para = document.createElement("h2");
		var txt = document.createTextNode('單價:{{post.uprice}}');
//		var button = 
		para.appendChild(txt);
		d.appendChild(para);

		//設定這個input的屬性
//		var new_element = document.createElement("input");
//		new_element.type = "radio";
//		new_element.name = "object";
//		new_element.value = ["{{post.oid}}","{{post.top1}}","{{post.top2}}","{{post.top3}}"];
//		form.appendChild(new_element);
		
//		d.appendChild(new_element);
//		form.appendChild(d);
		
		var para = document.createElement("p");
		var txt = document.createTextNode('========================');
		para.appendChild(txt);
		d.appendChild(para);
		
//		form.appendChild(new_element)
		document.body.appendChild(d);
//		document.body.appendChild(form);
	}
	{% endfor %}
}

	</script>
	<div>
		<form name="form" id="form" action="/blog/add4_record/" method="get" accept-charset="utf-8">
			<tr>
				<input type="submit" value="取得類似物件">
			</tr>
		</form>
	</div>
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx5d6zS25w00696xLPHGCnP63npDlbzvc&callback=initMap">
    </script>
<!-- 	<div>
		<form action="/blog/" method="get" accept-charset="utf-8">
			<input type="submit" value="回前頁">
	</div> -->
<!-- <div>
		<form action="/blog/add4_record/" method="get" accept-charset="utf-8">
			<input type="submit" value="傳送出去">
			<input type="reset" value="重新填寫">
		</form>
	</div>
 -->
<!-- 	<script type="text/javascript"  -->
<!-- 		src="https://maps.googleapis.com/maps/api/js?v=3;key=AIzaSyAx5d6zS25w00696xLPHGCnP63npDlbzvc&callback=initMap"></script> -->
  </body>
</html>