<html> 
	<head> 
	<script> 
	function chkfalse(){ 
	  var abc=document.getElementById('abc'); 
	  var bcd=document.getElementById('bcd'); 
	  if(abc.checked) { 
	    //如果名為abc的checkbox有勾選應作的動作... 
	    if(!bcd.checked) { 
	       alert('你勾引少了一個喔!'); 
	       return false; //阻止送出動作 
	    } 
	  } 
	} 
	</script> 
	<body> 
	<form onsubmit="chkfalse()"> 
	  <input type="checkbox" value="1" id="abc" />請勾引我XD 
	  <input type="checkbox" value="1" id="bcd" />如上面有勾引我，請務必也勾引我XD 
	  <input type="submit" /> 
	</form> 
	</body> 