<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<title>Complex icons</title>
	<style>
	  html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	  }
	  #map {
		height: 100%;
	  }
	</style>
  </head>
  <body>
	<div id="map"></div>
	<script>

function initMap() {
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 12,
	center: {lat: 25.0548897, lng: 121.6198273}
	});
	var low = [0, 0, 0];   // color of mag 1.0
	var high = [0, 0, 255];	 // color of mag 6.0 and above
	
	var price = [];
	{% for post in posts %}
		price.push({{post.unit_price}});
	{% endfor %}
	
	var maxprice = Math.max.apply(null,price);
	var minprice = Math.min.apply(null,price);
	
	{% for post in posts %}
	// fraction represents where the value sits between the min and max
	//var fraction = ({{post.unit_price}} - minprice) / (maxprice - minprice);
	var fraction = (Math.min({{post.unit_price}}, maxprice) - minprice) / (maxprice - minprice);

	var color = 'rgb(' + Math.round((high[0]-low[0])*fraction) + ',' + Math.round((low[1]-high[1])*fraction) + ',' + Math.round((high[2]-low[2]) * fraction) + ')';
	
	var cityCircle = new google.maps.Circle({
	
		strokeColor: 'rgb(0,0,255)',

		strokeOpacity: 0,

		strokeWeight: 2,

		fillColor: color,

		fillOpacity: 0.6,

		map: map,

		center: {lat: {{post.lat}}, lng: {{post.lng}}},

		radius: 250
	});
	{% endfor %}

}
	</script>
	<script type="text/javascript" 
		src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyAx5d6zS25w00696xLPHGCnP63npDlbzvc&callback=initMap"></script>
  </body>
</html>