<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Complex icons</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

// The following example creates complex markers to indicate beaches near
// Sydney, NSW, Australia. Note that the anchor is set to (0,32) to correspond
// to the base of the flagpole.

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: {lat: 25.0548897, lng: 121.6198273}
  });
  
	var marker = new google.maps.Marker({
      position: {lat: 25.0570354, lng: 121.5442581},
      map: map,
      title: 'Some Sample'
    });

    var cityCircle = new google.maps.Circle({

      strokeColor: 'rgb(255,0,0)',

      strokeOpacity: 0.5,

      strokeWeight: 5,



      fillOpacity: 0,

      map: map,

      center: {lat: 25.0570354, lng: 121.5442581},

      radius: 2000
    });
  }
    </script>
    <script type="text/javascript" 
        src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyAx5d6zS25w00696xLPHGCnP63npDlbzvc&callback=initMap"></script>
  </body>
</html>